<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<!--
		################# INÍCIO DA CONFIGURAÇÃO ###################
	-->

	<display-name>NodoBorda da Rede LexML</display-name>

	<!--
		context-param> <description> LEXML_HOME Deve apontar para o diretório
		onde se encontram os arquivos de configuração lexml-db.properties,
		lexml_nbconfig.xml e/ou lexml_naconfig.xml </description>
		<param-name>LEXML_HOME</param-name>
		<param-value>nodoborda</param-value> </context-param
	-->

	<!--
		context-param> <description> The location of the oaicat.properties
		file containing datapairs used to initialize the OAI repository
		software. </description> <param-name>properties</param-name>
		<param-value>WEB-INF\oaicat.properties </param-value> </context-param
	-->

	<!--
		################ FIM DA CONFIGURAÇÃO ########################
	-->

    <filter>
        <filter-name>closeEntityManagerFilter</filter-name>
        <filter-class>br.gov.lexml.server.CloseEntityManagerFilter</filter-class>
    </filter>
    
	<!-- Não há necessidade de se alterar nada daqui para baixo -->
	<servlet>
		<description>
			This servlet processes OAI verbs.

			The initialization
			parameter names for this servlet are the
			"servlet path" that will be
			received by this servlet (after the
			filename extension is removed).
			The corresponding value is the
			name of the action class that will be
			used to process this request.
		</description>
		<servlet-name>OAIHandler</servlet-name>
		<servlet-class>br.gov.lexml.server.LexMLOAIHandler</servlet-class>
		<!-- Load this servlet at server startup time -->
		<load-on-startup>8</load-on-startup> <!-- This number must be higher than the lexmlInit -->
	</servlet>
	
	<filter-mapping>
	   <filter-name>closeEntityManagerFilter</filter-name>
	   <url-pattern>/oai2.do</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>OAIHandler</servlet-name>
		<url-pattern>/oai2.do</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>    <!-- 30 minutes -->
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

</web-app>